<form action="/signUp" method="POST">
  <label>Name</label>
  <input name="username" type="text"  placeholder="Enter your username"  >
<br>
  <label>Email</label>
  <input name="email" type="email"  placeholder="Enter your email"  >
<br>
  <label>Password</label>
  <input name="password" type="password"  placeholder="Enter your Password"  >
<br>
  <button type="submit">Sign Up</button>
</form>

{{#if error}}
  <p class="error">
    {{error}}
  </p>
{{/if}}